*{
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 200px) {
    .heroImg{
        width: -webkit-fill-available;
    }
}

@media screen and (min-width: 600px) {
    .heroImg{
        width: auto;
    }
}